<h2>Template: Basics</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="save()" #myForm="ngForm" autocomplete="off">

      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Product</label>
        <div class="col-sm-9">
          <input type="text" ngModel name="product" minlength="3"
          required class="form-control" placeholder="Name of the product">
          <span *ngIf="validName()"
            class="form-text text-danger">It must be of 3 letters</span>
        </div>
      </div>

      <!-- Price field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Price</label>
        <div class="col-sm-9">
          <input type="number" ngModel name="price"
          required class="form-control" placeholder="Price of the product">
        </div>
      </div>

      <!-- Stock field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Stock</label>
        <div class="col-sm-9">
          <input type="number" ngModel name="stock"
          class="form-control" placeholder="Stock of the product">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">Save</button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{myForm.valid}}</pre>

    <span>Pristine</span>
    <pre>{{myForm.pristine}}</pre>

    <span>Touched</span>
    <pre>{{myForm.touched}}</pre>

    <span>Valid</span>
    <pre>{{myForm.value | json}}</pre>
  </div>
</div>
