<h2>Template: Basics</h2>
<hr>

<div class="row">
  <div class="col">
    <form action="">

      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Product</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Name of the product">
          <span class="form-text text-danger">It must be of 3 letters</span>
        </div>
      </div>

      <!-- Price field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Price</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Price of the product">
        </div>
      </div>

      <!-- Stock field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Stock</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Stock of the product">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">Save</button>
        </div>
      </div>

    </form>
  </div>
</div>
